@font-face {
    font-family: montserra;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1553 !important;
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.name {
    margin: 12px;
    font-weight: bold;
}
.btn-primary {
    background-color: #DEB348 !important;
    color: #1A1553 !important;
    font-weight: bold !important;
}
.converter-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #121040;
    font-family: montserra;
}
.result {
    font-size: 22px;
    font-weight: bold;
}
.rate {
    font-size: 18px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}
select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}
/* button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
} */
